@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #d8ffe3;
  color: #0a3a10;
  font-family: 'Lato', sans-serif;
}

.App {
  text-align: center;

  h1 {
    margin-bottom: 60px;
  }
}

button {
  background-color: #f1f3fd;
  font-size: 1rem;
  font-family: 'Lato', sans-serif;
  border-radius: 5px;
  border: 0.5px solid black;

  &:hover {
    cursor: pointer;
    transform: scale(1.05);
  }
}

// Time Selectors
.time-selectors {
  display: flex;
}

.time-selector {
  margin: 0 28px;

  h3 {
    margin-bottom: 8px;
  }

  button {
    height: 30px;
    width: 30px;
    margin: 8px;
  }

  span {
    font-size: 1.4rem;
  }

  @media only screen and (max-width: 400px) {
    margin: 0 8px;

    .time-buttons {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
}

// Timer
.timer-container {
  margin-top: 40px;

  h3 {
    font-size: 1.5rem;
    margin: 16px;
  }

  #time-left {
    margin: 16px;
    font-size: 2.5rem;
    color: rgb(15, 29, 2);
  }
}

.timer-controls {
  button {
    padding: 8px 12px;
    margin-right: 8px;
  }
}
